dist/** -diff linguist-generated=true

# ncc produces crlf instead of lf (which lets check-dist.yml action fail)
# can be removed once https://github.com/vercel/ncc/issues/638 is resolved
dist/index.js text eol=crlf
